body {
    margin: 0;
    background-color: #FFFFFF;
    width: 775px;
    height: 400px;
    display: inline-block;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.title-bar {
    background-color: #ADADAD;
    height: 30px;
    line-height: 30px;
}

.application-area{
    display: flex;
    height: 100%;
    width: 100%;
}

.left-menu-bar {
    background-color: #F1F1F1;
    width: 260px;
    text-align: left;
}

.menu {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.menu-item {
    list-style: none;
    height: 70px;
    width: 100%;
    background-color: #DDDDDD;
    margin-top: 2px;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 7px solid  #D6D6D6;
}

.menu-item-button {
    height: 70px;
    width: 100%;
    background-color: #DDDDDD;
    margin-top: 2px;
    font-size: 16px;
    align-content: left;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 7px solid  #D6D6D6;
    border-radius: 0px;
    padding: 0 0 0 0;
    line-height: 65px;
    text-align: left;
    padding-left: 10px;
    outline: none;
}

.menu-item-button:hover{
    background-color: #CDCDCD;
    padding-left: 15px;
    border-right-color: #A7A7A7;
}

.menu-item-icon {
    display: inline-block;
    background-color: #C4C4C4;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 120px;
    top: 15px;
    left: 15px;
    margin-right: 30px;
}

.right-canvas {
    background-color: #F9F9F9;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 40px 30px 40px 30px;
}

.status-bar {
    height: 20px;
    background-color: #ADADAD;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    padding-left: 10px;
}

.input-box {
    height: 40px;
    background-color: #EFEFEF;
    border-radius: 15px;
}

input[type=file] {
    height: 35px;
    background-color: blue;
    border-radius: 12px;
}

label {
    line-height: 20px;
    padding-left: 5px;
}

.input-box-label {
    line-height: 20px;
    padding: 10px;
}

.button {
    height: 45px;
    width: 210px;
    border-radius: 20px;
    background-color: blue;
}

.field-box {
    display: block;
    width: 95%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.field {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid #CDCDCD;
    outline-color: #A7A7A7;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

select option[data-default] {
    color: #ADADAD;
}

.field-buttons {
    border: none;
    bottom: 0;
    text-align: right;
    margin-top: 40px;
}

.generic-button {
    height: 45px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    outline: none;
    background-color: #A7A7A7;
}
